.header{
	font-family:stencil;
	background:rgba(255,255,255,.2);
	color:blue;
	padding:30px;
	text-align: center;
	font-size:70px;
	font-weight: bold;
	text-transform: uppercase;
	transition: all 0.9s;
    bottom: -150px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);

}

header:hover {
    bottom: 0px
}

body{
	padding: 0;
	margin: 0;
	background-size: 100vw 100vh


}

.menu {
    font-family:stencil;
    font-weight:bold;
    font-size:50px;
    background-color:rgba(255,255,255,.2);
    display:inline;
    padding-left:5px;
    padding-right:5px;
}

.separador {
    color:black;
}


a {
    color:blue;
    text-decoration:none;
}

form{
	width: 400px;
	margin: auto;
	background: rgba(0,0,0,0.4);
	padding: 20px 20px;
	box-sizing: border-box;
	margin-top: 20px;
	border-radius: 7px;
}

h2{
	color:white;
	text-align: center;
	margin: 0;
	font-size: 30px;
	margin-bottom: 20px;
}

input,textarea{
	width: 350px;
	margin-bottom: 50px;
	padding: 10px;
	box-sizing: border-box;
	font-size: 15px;
	border-radius: 7px;
	position: center;
}

textarea{
	min-height: 200px;
	max-height: 300px;
	max-width: 350px;
	border-radius: 5px;
	box-sizing: border-box;
	position: center;
}

#botton{
	background: #31384A
	color: #fff;
	padding: 20px;

}

#botton:hover{
	cursor: pointer;
}