<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>LOCAL COMERCIAL "BENDICIÓN DE DIOS" </title>
    <link rel="stylesheet" type="text/css" href="estilos.css"/>
</head>

<body background="to.jpg">
	<div class="header">
		BIENVENIDOS
	</div>


	<img align="left" src="papeleria.png" height="500" width="500" alt="logo de nuestra pagina web">
	<H1 align="center" style="color:black;font-family:CASTELLAR;font-size:90px">LOCAL COMERCIAL BENDICIÓN DE DIOS </H1>



        <center>
           <div class="menu">
                  	<a href="INICIO.html"> INICIO  </a>

                  	<span class="separador">| </span><a href="CATEGORIAS.html"> CATEGORIAS </a>

                  	<span class="separador">| </span><a href="CONTACTO.html"> CONTACTANOS </a>
           </div>
        </center>
          <br>

          </br>

<center>
	<img src="utiles.png"alt="logo de nuestra pagina web">
</center>

    <form action="">
       	<h2>DEJANOS TUS SUGERENCIAS</h2>
       	<input type="text" name="Nombre" placeholder="Nombre y Apellido">
       	<input type="text" name="Correo" placeholder="Correo Electronico">
       	<input type="text" name="Telefono" placeholder="Telefono">
       	<textarea name="mensaje" placeholder="Escriba aqui su mensaje"></textarea>
       	<input type="button" value ="Enviar">
    </form>

    <p>©Todos los derechos reservados 2020 Mandanos un mensaje via email a
    	<a href="mailto:kyleliesev@gmail.com">kyleliesev@gmail.com</a></p>



</body>
</html>